<% if defined?(@error) && !@error.nil? %>
  <div class="alert bg-danger" role="alert">
		<svg class="glyph stroked cancel"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-cancel"></use></svg>
    <%= @error %>
    <a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body tabs">
    <%= render "tabs", tab: 'query' %>
    <div class="tab-content">
      <% if defined?(@consolidatedJson) %>
        <div class="form-group">
          <label>Query Result</label>
          <textarea class="form-control" rows="3" disabled><%= @consolidatedJson %></textarea>
        </div>
        <hr>
      <% end %>
      <%= form_tag(query_logs_path, method: :post) do %>
        <div class="form-group">
          <label>Object Id</label>
          <%= text_field_tag  :object_id, "", class: "form-control" %>
        </div>
        <div class="form-group">
          <label>Object Type</label>
          <%= text_field_tag  :object_type, "", class: "form-control" %>
        </div>
        <div class="form-group">
          <label>Timestamp</label>
          <%= text_field_tag  :timestamp, "", class: "form-control" %>
        </div>
        <hr>
        <div class="form-group">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
